<p id="notice"><%= notice %></p>
<div class="header">
<%
=begin%>
 <%= image_tag  "computer-background.jpg" %> 
<%
=end%>
<h1 class="d-flex justify-content-center text-center">I'm Doyinsola, <br> Welcome to my world!</h1>
<p class="d-flex justify-content-center text-center">I’m a software developer! I can help you build a product, <br> feature or website Look through some of my work <br> and experience! If you like what you see and have a project <br> you need coded, don’t hestiate to contact me.
</p>
</div>